{% assign username = "catu52" %}

<div id="particles-js"></div>

<section class="page-header">

	<h1 class="project-name">{{ site.title }}</h1>
	<h2 class="project-tagline">{{ site.tagline }}</h2>

	<div class="avatar-container">
	  <img class="img-circle rela" width="256" src="https://lh3.googleusercontent.com/4qsqwoAGSCIbeFuXI5ZctuSlqbTqrKFwseU_sj0TGYzQix3tClth9tfUJJbI26AYnAA8ATIj6_Ku2g=w1680-h1050-rw-no">
	</div>

	<h2 class="project-quote">{{ site.quote }}</h2>

	<br>
	
	<a href="mailto:catu52@gmail.com" class="btn rela">
		Get in touch
	</a>
	
	<div class="container-fluid rela">

		<!-- Twitter -->
		{% include icon-twitter.html %}

		<!-- Github -->
		{% include icon-github.html %}

		<!-- Instagram -->
		{% include icon-instagram.html %}

		<!-- Timeline -->
		{% include icon-history.html %}

	</div>

	<script type="text/javascript" src="js/script.js"></script>

</section>